#c-main {padding-top:50px; min-height:680px}
#c-main-content {padding-top:20px}
#c-bottom {margin-bottom:0px; margin-top:50px}

.c-col-centered {float:none; margin:auto}
#sign_with_social a {display:inline-block;width:200px; height:35px; padding-left:45px; color:#FFF; font-family:Arial, sans-serif; text-decoration:none; line-height:35px; vertical-align:middle; font-size:14px}
a.sign_google:link, a.sign_google:visited {
    background:url("../../images/sprites.png") no-repeat 0px 0px
}
a.sign_google:hover, a.sign_google:active {
    background:url("../../images/sprites.png") no-repeat 0px -35px
}
a.sign_facebook:link, a.sign_facebook:visited {
    background:url("../../images/sprites.png") no-repeat 0px -70px
}
a.sign_facebook:hover, a.sign_facebook:active {
    background:url("../../images/sprites.png") no-repeat 0px -105px
}
a.sign_twitter:link, a.sign_twitter:visited {
    background:url("../../images/sprites.png") no-repeat 0px -140px
}
a.sign_twitter:hover, a.sign_twitter:active {
    background:url("../../images/sprites.png") no-repeat 0px -175px
}

.c-form-control[readonly] {
    cursor:default;
    background-color:transparent !important;
}
.c-overflow-visible {overflow:visible !important;}
.c-col-centered {float:none; margin:auto}
.c-sign-form {margin-top:30px}
.c-shadow {box-shadow:0px 0px 1px rgba(0, 0, 0, 0.6);}
.c-white-border-xs {border:1px solid #FFF}
.c-white-border-md {border:4px solid #FFF}
.c-label-muted {background:#aaa}
.c-label-muted:hover {background:#888}
.c-label-xs {font-size:50%}
.c-label-sm {font-size:75%}
.c-label-md {font-size:100%}
.c-label-lg {font-size:120%}
.c-portrait-xs {max-width:40px}
.c-portrait-sm {max-width:50px}
.c-portrait-smd {max-width:70px}
.c-portrait-md {max-width:80px}
.c-portrait-lg {max-width:120px}
.c-img-gray {-webkit-filter: grayscale(100%); filter: grayscale(100%);}
.c-img-border-shadow {border: 2px solid #F1F1F1; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)}
.c-alpha-lg {opacity:0.8; filter:alpha(opacity=0.8);}
.c-alpha-md {opacity:0.6; filter:alpha(opacity=0.6);}
.c-alpha-sm {opacity:0.4; filter:alpha(opacity=0.4);}
.c-alpha-xs {opacity:0.2; filter:alpha(opacity=0.2);}
.c-mt-minus-xs {margin-top:-5px}
.c-mt-minus-sm {margin-top:-10px}
.c-mt-minus-md {margin-top:-20px}
.c-mt-minus-lg {margin-top:-30px}
.c-mb-zero {margin-bottom:0px}
.c-mt-zero {margin-top:0px}
.c-ml-zero {margin-left:0px}
.c-mr-zero {margin-right:0px}
.c-mt-xs {margin-top:5px}
.c-mt-sm {margin-top:10px}
.c-mt-md {margin-top:20px}
.c-mt-lg {margin-top:30px}
.c-mr-xs {margin-right:5px}
.c-mr-sm {margin-right:10px}
.c-mr-md {margin-right:20px}
.c-mr-lg {margin-right:30px}
.c-ml-xs {margin-left:5px}
.c-ml-sm {margin-left:10px}
.c-ml-md {margin-left:20px}
.c-ml-lg {margin-left:30px}
.c-mb-xs {margin-bottom:5px}
.c-mb-sm {margin-bottom:10px}
.c-mb-md {margin-bottom:20px}
.c-mb-lg {margin-bottom:30px}
.c-pt-xs {padding-top:5px !important}
.c-pt-sm {padding-top:10px !important}
.c-pt-md {padding-top:20px !important}
.c-pt-lg {padding-top:30px !important}
.c-pb-xs {padding-bottom:5px !important}
.c-pb-sm {padding-bottom:10px !important}
.c-pb-md {padding-bottom:20px !important}
.c-pb-lg {padding-bottom:30px !important}
.c-pr-xs {padding-right:5px !important}
.c-pr-sm {padding-right:10px !important}
.c-pr-md {padding-right:20px !important}
.c-pr-lg {padding-right:30px !important}
.c-pl-xs {padding-left:5px !important}
.c-pl-sm {padding-left:10px !important}
.c-pl-md {padding-left:20px !important}
.c-pl-lg {padding-left:30px !important}
.c-alert-xs {padding:5px}
.c-text-normal {font-weight:normal !important}
.c-hide {display:none}
.c-invisible {visibility:hidden}
.c-cursor-move {cursor:move !important}
.c-img-md {max-width:260px}
.c-img-lg {max-width:400px}
.c-modal-body-scroll {max-height:500px;overflow:auto}
.c-link-underline {text-decoration:underline}

#logo_img {width:122px; height:122px; border:1px solid #888; position:relative}
#logo_img img {width:120px; height:120px}
#page_goto {width:50px;display:inline-block;}

.editor_container {padding:5px 0px 10px 0px; border:none}
/*.editor_container {border-top:2px solid #EEE; border-bottom:2px solid #EEE; padding:10px 0px; border:none}*/
.editor_container_no_border {border:none}
.c-text-size-lg {font-size:1.3em}
.c-link-no-underline a {text-decoration:none !important}
.c-section-title {border-bottom:1px solid #CCC; padding-bottom:10px; padding-top:2px}
.c-splitter-dash {border-top:1px dashed #CCC;}
.c-splitter-dot {border-top:1px dotted #CCC;}
.c-splitter-bottom-solid {border-bottom:1px solid #DDD;}
.c-dotted-bottom {border-bottom:1px dotted #CCC;}

.c-odd {background:#FFF;}
.c-even {background:#FBFBFB;}

.c-recent-post {position:relative; top:2px}
.c-post-list li {padding-bottom:10px; padding-top:5px; border-bottom:1px dotted #999}
.c-post-list li h4 {font-size:1.1em;}
.c-post-list li h4 > a {line-height:140%}
.c-article-font {color:#333}
.c-post-extra {font-size:0.9em}

.post_response_item {border-bottom: 1px solid #DDD;}
table.response_comments {margin-bottom:1px}
table.response_comments td {border-top:1px dotted #CCC !important}

.c-wrap-pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}
.short_name_tag {padding:2px 4px;border-radius:.2em; border:1px solid #888}
.home_mod {padding-top:0px; padding-bottom:20px}

#panel_weibo .panel-body {max-height:800px; overflow:scroll; padding-top:5px}
#weibo_list li {line-height:160%; border-bottom:1px dotted #555; padding:10px 0px;}
#weibo_list p {margin:0}
#weibo_list img {padding:2px; border:1px solid #CCC}

.cat_tag {border-radius:3px; padding:3px; display:inline-block; margin-right:5px; color:#FFF; font-size:0.9em;border:1px solid #888}
.cat_pintop {background:#EA5959;border:1px solid #EA5959;color:#FFF}
.pintop_form {border-left:1px dotted #555}

.c-addon-container {position: relative}
.c-addon-icon {position: absolute; top:13px; left:10px}
.c-addon-icon-2 {left:26px}
.c-addon-control {padding-left:35px}

#search_result_list .search_result_title em {background:#fffd80; font-style:normal}
#search_result_list .search_result_content em {background:#fffead; font-style:normal}

.fr-view {color:#333}
.fr-view img.fr-dib.fr-draggable {height:unset !important}
.support_item {border-bottom:1px dotted #ccc}
.payment_card {border: 1px solid #EEE; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); border-radius:.2em; padding:5px 10px}

#mod_all {min-height:40px; border:1px solid #CCC; padding:5px 0px; border-left:none; border-right:none; background:#fefff4}
#mod_all li {display:inline-block; margin-right:10px; border:1px solid #CCC; background:#F5F5F5; color:#555; padding:5px 10px; cursor:move}
.mod_col_container {border:1px solid #CCC; border-left:none; border-right:none}
.mod_col {min-height:250px; border:2px dotted #CCC; padding:5px}
.mod_col li {display:block !important; background:#7fe894 !important; color:#333 !important; margin-right:0px !important; font-weight:bold !important; text-align:center !important; padding: 5px !important; margin-bottom:5px; border:2px solid #13af32 !important; cursor:move}

.event_list li {border-bottom:1px dotted #aaa;padding-bottom:10px}
.event_list li > h5 > a {line-height:150%}
.event_section_title {padding-top:10px}
.event_cal_container {width:55px; margin-right:20px}
.event_cal_date {background:#FFF; box-shadow:2px 2px 0px #CCC}
.event_cal_month {background:#E8574F; color:#FFF; border:1px solid #E8574F; border-bottom:none}
.event_cal_day {padding:2px; font-size:20px; border:1px solid #999; border-top:none}
.event_weekday {padding:3px 4px; border-radius:3px; display:inline-block; }
.event_weekday_home {font-size:0.9em; padding:2px 4px}
.event_mon, .event_Mon {color:#00B4F0; border:1px solid #00B4F0}
.event_tue, .event_Tue {color:#40B527; border:1px solid #40B527}
.event_wed, .event_Wed {color:#EE7C08; border:1px solid #EE7C08}
.event_thu, .event_Thu {color:#2B84EE; border:1px solid #2B84EE}
.event_fri, .event_Fri {color:#A500AC; border:1px solid #A500AC}
.event_sat, .event_Sat {color:#00879D; border:1px solid #00879D}
.event_sun, .event_Sun {color:#B51943; border:1px solid #B51943}
.event_content {padding-left:75px}

.carpool_list > li {padding-bottom:5px; border-bottom: 1px dotted #CCC; margin-top:5px;}
.carpool_type {border-radius:3px; padding:3px; display:inline-block; margin-right:5px; color:#FFF; font-size:0.9em;}
.carpool_provider {color:#40B527; border:1px solid #40B527}
.carpool_request {color:#F60; border:1px solid #F60}
.cp_info_detail {padding-left:80px}

.announce-text {font-size:0.9em}

/* car */
#car_img_container {width:847px;height:482px;border:1px solid #888;position:relative;}
#car_img {width:847px; height:482px;}
#car_img img {width:845px; height:480px; position:absolute; bottom:0; left:0}
#img_processing_hint {width:300px; height:40px; line-height:40px; text-align:center; vertical-align:middle; font-size:20px; color:#FFF; position:absolute; background:#333; top:200px; left:260px; border-radius:10px; opacity:0.8; z-index:1000;}
#car_imgs_container > span {width:120px; height:70px; margin-right:10px; margin-bottom:10px; position:relative; display:inline-block}
#car_imgs_container > span > i {position:absolute; right:2px; top:2px; color:#FFF; cursor:pointer; background:#333; padding:2px; opacity:0.8}
#car_imgs_container > span > i:hover {opacity:1}
#car_imgs_container img {width:120px;}

.car_card {border:1px solid #ccc; border-bottom-left-radius: 0.3em; border-bottom-right-radius: 0.3em;}
.slides_container {cursor: move; position: absolute; left: 0px; top: 0px; width: 848px; height: 480px; overflow: hidden;}
.slides_arrow_left {top: 220px; left: 8px;}
.slides_arrow_right {top: 220px; right: 8px}
.slides_thumb_container {left: 0px; bottom: 0px; width:845px}
